{
    "bracketSpacing": true,
    "singleQuote": true,
    "trailingComma": "all",
    "tabWidth": 4,
    "semi": true,
    "printWidth": 80,
    "jsxSingleQuote": true,
    "endOfLine": "auto",
    "plugins": ["@trivago/prettier-plugin-sort-imports"],
    "importOrder": [
        "^@src/(.*)$",
        "^@app/(.*)$",
        "^@shared/(.*)$",
        "^@assets/(.*)$",
        "^[./]"
    ],
    "importOrderSortSpecifiers": true,
    "importOrderCaseInsensitive": true
}
